.nv_img{
    border-radius: 50%;
}
.name__nav{
    color: rgba(0, 0, 0, 0.9);
}
.nav-link{
    padding: 0;
    margin: 5px;
}
.nav a{
    color: rgba(0, 0, 0, 0.9);
    font-weight: 400;
}
.nav a:hover{
    color: #228896;
    transition: ease-in-out 0.6s;
}
.title{
    font-weight: 500;
}
.nv{
    margin-bottom: 10px;
}