#top{
    
}
#top .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
    align-items: center;
}
#top .info{
    padding: 15px;
    position:relative
}

#top .info h1{
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #16171b;
    margin-bottom: 2rem;
    z-index: 1;
}
#top .info p{
    position: relative;
    color: #c8c9ce;
    text-transform: uppercase;
    margin-bottom: 4rem;
    z-index: 1;
}
#top .info a{
    position: relative;
    font-size: .9rem;
    color: #16171b;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
    z-index: 1;
    letter-spacing: 2px;
}
#top .img{

}
#top .img .background-img{
    background: url(../Images/full-image.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 500px;
    height: 700px;
    margin: 0 auto;
}

#top_bg{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(https://orig00.deviantart.net/d662/f/2013/221/0/3/gif___paris_seine_timelapse_by_turst67-d6h6ono.gif);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  #top_bg .air{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
  }
  #top_bg .air.air1{
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  #top_bg .air.air2{
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
  #top_bg .air.air3{
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
  }
  #top_bg .air.air4{
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }
  @keyframes wave{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: 1000px; 
    }
  }
  @keyframes wave2{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: -1000px; 
    }
}